* {
	margin: 0 auto;
	padding: 0;
}
 
a {
	text-decoration: none;
}

#johnpic {
	background: url("/images/john.jpg");
	background-size: 500px 500px;
	background-repeat: no-repeat;
	height: 500px;
	width: 500px;
	margin-top: 1%;
}

h2, li {
font-family: entangled; 
font-style: bold;
}


/*#ennui {
	background: url("/images/ennui4.jpg");
	height: 400px;
	width: 600px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}*/

body {
	background: #e91e63;
	animation-name: groovy;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

/*@keyframes groovy {
	0% {background: #e91e63;}
	10% {background: #d81b60;}
	20% {background: #c2185b;}
	30% {background: #ad1457;}
	40% {background: #c2185b;}
	50% {background: #d81b60;}
	60% {background: #e91e63;}
	70% {background: #ec407a;}
	80% {background: #f06292;}
	90% {background: #ff80ab;}
	100% {background: #ec407a;}
}*/

#home, #about, #contact {
	border: 5px solid pink;
	background: snow;
/*	opacity: 0.98;*/
	width: 90%;
}

a:hover {
	font-color: gold;
	font-style: underline;
	font-size: 16px;
}

@media (max-width: 600px) {
	#johnpic {
	background: url("/images/john.jpg");
	background-size: 200px 200px;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	margin-top: 1%;
}
}

