* {
	margin: 0 auto;
	padding: 0;
	font-family: Arial, sans-serif;
	font-weight: bold; 
	font-style: bold;
	font-size: 1.0125em;
}
 
a {
	text-decoration: none;
}

#johnpic {
	background: url("/images/john.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 75%;
	margin-top: 1%;
}

h2, li {
font-family: Arial, sans-serif;
font-style: bold;
}

li {
	border-right: 1px solid snow;
	border-left: 1px solid snow;
}

/*#footer {
	margin-top: 5%;
}*/

#contact, #sub-contact {
	height: 70%;
	margin-top: 2.5%;
}


body {
	background: snow;
	animation-name: groovy;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

/*@keyframes groovy {
	0% {background: #e91e63;}
	10% {background: #d81b60;}
	20% {background: #c2185b;}
	30% {background: #ad1457;}
	40% {background: #c2185b;}
	50% {background: #d81b60;}
	60% {background: #e91e63;}
	70% {background: #ec407a;}
	80% {background: #f06292;}
	90% {background: #ff80ab;}
	100% {background: #ec407a;}
}*/

#home, #about, #contact {
	/*border: 5px solid pink;*/
	background: snow;
/*	opacity: 0.98;*/
	width: 90%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 2.5%;
}

nav	{
	height: 100%;
}

i:hover {
	color: lightblue;
}

.contact-img:hover {
		height: 40%;
		width: 20%;
}

nav > div {
	border: none;
	display: block;
	float: left;
	margin-left: 1%;
}

footer {
	margin-top: 5%;
}

a:hover {
	font-color: gold;
	font-style: underline;
	font-size: 16px;
}

@media (max-width: 600px) {
	#johnpic {
	background: url("/images/john.jpg");
	background-size: 200px 200px;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	margin-top: 1%;
	}

	#contact {
		height: 90%;
	}
}

