* {
	margin: 0 auto;
	padding: 0;
}
 
a {
	text-decoration: none;
}

#johnpic {
	background: url("/images/john.jpg");
	background-size: 500px 500px;
	background-repeat: no-repeat;
	height: 500px;
	width: 500px;
	margin-top: 1%;
}

h2 {
font-family: entangled; 
font-style: bold;
}

/*#ennui {
	background: url("/images/ennui4.jpg");
	height: 400px;
	width: 600px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}*/