<div class='animated bounceInRight'>
	<div class='container z-depth-3' id="about">
		<div class='container left-align'><h4 class='left-align black-text darken-4'><b>About</b></h4></div>
		<div class='container left-align' style="margin-bottom:2em;text:justify;"><b><p>I'm from Florida originally but have led a bit of an itinerant life, moving to and from Florida, Illinois, California, New Jersey, New York, and Washington, DC. I went back to Florida for college where I attended Florida State University. I majored in English Literature and minored in Economics while there. The experience inspired a novella that I began writing near the end of my senior year and finished shortly thereafter. Since graduating, I've enrolled in another program at FSU, this time in pursuit of a Master of Science in Management Information Systems. I hope to graduate after the Spring 2020 semester.<p><br/>

		<p>Following college, I spent a number of years working for financial services firms in various roles in operations and marketing.<p><br/>

		<p>A few years ago, to expand my technical skill set, I enrolled in a 12 week web development immersive program at General Assembly. While there, I learned a number of programming languages and technologies, many of which I still employ to this day.</p><br/>

		<p>After a brief stint at Raymond James Financial working in a dual marketing and technical role, I took a job up in the Washington, D.C. area in software test automation. After spending over two years with the company, where I advanced from a test automation engineer to a deputy test team lead, and finally a test team lead, I accepted a position in Washington, D.C. as a quality manager. I currently lead a small team of quality assurance folks for a media company.</p><br>

		<p>I'm always on the lookout for new projects to work on and new people to potentially work with. Please feel free to contact me with any questions, interesting opportunities, or friendly introductions.</p></b></div>
	</div>
</div>