<div class='animated bounceInRight'>
	<div class='container z-depth-3' id="about">
		<h4 class='center-align red-text darken-4'>My name is John</h4>
		<p class='center-align red-text darken-4'>Among other things, I am a junior web developer. I'm a General Assembly <a href="https://profiles.generalassemb.ly/john-thiel">grad</a>. Check out my <a href="https://www.linkedin.com/in/johnclarkthiel
		">LinkedIn</a> profile for more information on me. Also, I <a href="http://www.oh-thatsright.com/">blog</a> ... sporadically.</p>
	</div>
</div>