<div class='animated bounceInRight'>
	<div class='container z-depth-3' id="about">
		<h4 class='center-align red-text darken-4'>Some stuff about me...</h4>
		<p class='center-align red-text darken-4'>Here's the skinny: I've done many things in my short career. One might accurately describe me as a factotum. Among other things, I am a web developer. I'm a General Assembly <a href="https://profiles.generalassemb.ly/john-thiel">grad</a>. I also have a BA in English from Florida State University. I once wrote a fairly unreadable novel. I like to jog. I worked in financial services for a number of years. Check out my <a href="https://www.linkedin.com/in/johnclarkthiel
		">LinkedIn</a> profile for more  of my professional information. Also, I <a href="http://www.oh-thatsright.com/">blog</a> ... sporadically.</p>
	</div>
</div>