<div class='animated bounceInRight'>
	<div id='contact' class='z-depth-3'>
		<h4 class='container center-align red-text darken-4'>Contact me</h4>

		<h4 class='center-align red-text darken-4'><img src="images/linkedin.png"></h4>
		<div class='center-align'><a href="https://www.linkedin.com/in/johnclarkthiel" class='red-text darken-4'>John C. Thiel</a></div>

		<h4 class='center-align red-text darken-4'><img src="images/gmail.png"></h4>
		<p class='center-align red-text darken-4'>johnclarkthiel@gmail.com</p>
	</div>
</div>