<div class='animated bounceInRight'>
	<div id='contact' class='z-depth-3' id='contact'>
		<div class='left-align' id='sub-contact'>
			<h4 class='container center-align blue-text darken-4'><b>Contact/Other</b></h4>

			<h4 class='center-align blue-text darken-4'><a href="https://www.linkedin.com/in/johnclarkthiel"><img src="images/linkedin.png" class='contact-img' id="lnkd"></a></h4><br>
			<h4 class='center-align blue-text darken-4'><a href="mailto:johnclarkthiel@gmail.com"><img src="images/gmail.png" id="google" class='contact-img' id="google"></a></h4><br>
			<h4 class='center-align blue-text darken-4'><a href="https://github.com/johnclarkthiel"><img src="images/GitHub_Logo.png" class='contact-img' id="github"></a></h4>
		</div>
	</div>
</div>