<div class='animated bounceInRight'>
	<div id='contact' class='z-depth-3' id='contact'>
		<div class='left-align' id='sub-contact'>
			<h4 class='container center-align red-text darken-4'><b>Contact me</b></h4>

			<h4 class='center-align red-text darken-4'><a href="https://www.linkedin.com/in/johnclarkthiel"><img src="images/linkedin.png" class='contact-img'></a></h4>
			<br><br>
			<h4 class='center-align red-text darken-4'><a href="mailto:johnclarkthiel@gmail.com"><img src="images/gmail.png" class='contact-img'></a></h4>
		</div>
	</div>
</div>