<div class='animated bounceInLeft'>
	<div class="container left-align z-depth-3" id='home'>
		<div class='container left-align'><h4 class='left-align red-text darken-4'><b>A tidbit on me...</b></h4></div>
		<div class='container left-align'><b><p class='left-align'>Here's the skinny: I've done many things in my short career. One might accurately describe me as a factotum, or if you really want the hard sell, a poor man's polyglot. Among other things, I am a web developer. I'm a General Assembly <a href="https://profiles.generalassemb.ly/john-thiel">grad</a>. I also have a BA in English from Florida State University. I once wrote a novella. I like to jog. I worked in financial services for a number of years. Check out my <a href="https://www.linkedin.com/in/johnclarkthiel
		">LinkedIn</a> profile for more  of my professional information. <a href="https://github.com/johnclarkthiel">Here's</a> my GitHub link.</div>
		<div id='johnpic' class='center-align z-depth-5 circle responsive-img'></div>
	</div>
</div>