<div class='animated bounceInLeft'>
	<div class="row" id='home'>
		<div class='col s4 left-align' id="aboutme"><h4 class='left-align blacks-text darken-4'><b>Hi there!</b></h4>
			<div style="text-align:justify;">
			<p class='left-align'>My name is John. I'm currently a grad student at Florida State University where I'm studying Management Information Systems. I received a Bachelor of Arts in English Literature from Florida State University back in May of 2009. The university is very important to me.</p><div class="divider" style="margin-top:2em;margin-bottom:2em;"></div><p class='left-align'>I once wrote a novella. I blog. I like to jog. I worked in financial services for a number of years. I currently lead a small team of quality assurance folks. Check out my <a href="https://www.linkedin.com/in/johnclarkthiel
			">LinkedIn</a> profile.</p></div>
		</div>
		<div id='johnpic' class='col s8 right-align z-depth-5 responsive-img'></div>
	</div>
</div>