<div class='animated bounceInRight'>
	<div class='container'>
		<h4 class='center-align black-text darken-4'><strong>Here are some interests of mine...</strong></h4>

		<div class="divider" style="margin-bottom:2em;"></div>

		<div class='card'>
				<div class="video-container">

					<iframe width="560" height="315" src="https://www.youtube.com/embed/Y7jG7MeYKFI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				</div>

			<div class='card-content'>
				<span class='card-title activator black-text darken-4'>I like Florida State football</span>
			</div>
		</div>

		<div class="divider" style="margin-top:2em;margin-bottom:2em;"></div>

		<div class='card'>
				<div class="video-container">

				<iframe width="560" height="315" src="https://www.youtube.com/embed/i7ceUqrk-DA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				</div>

			<div class='card-content'>
				<span class='card-title activator black-text darken-4'>In fact, I love all things FSU sports! Go 'Noles!</span>
			</div>
		</div>

		<div class="divider" style="margin-top:2em;margin-bottom:2em;"></div>

		<div class='card'>
				<div class="video-container">

				<iframe width="560" height="315" src="https://www.youtube.com/embed/qCXUbQ4JjXI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				</div>

			<div class='card-content'>
				<span class='card-title activator black-text darken-4'>I enjoy Ken Burns documentaries</span>
			</div>
		</div>

		<div class="divider" style="margin-top:2em;margin-bottom:2em;"></div>

		<div class='card'>
				<div class="video-container">

				<iframe width="560" height="315" src="https://www.youtube.com/embed/sPvBXsiA9Zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				</div>

			<div class='card-content'>
				<span class='card-title activator black-text darken-4'>I'm a big Ernest Hemingway fan</span>
			</div>
		</div>

	</div>
</div>