<div class='container'>
	<h4 class='center-align pink-text'>Here's some of my work:</h4>

	<h4>Ennui</h4>
	<a href="http://ennui-onwee.herokuapp.com">Link</a>
	<h4>About:</h4>
	<p></p>
	<img src=""><img src=""><img src="">

	<h4>Simple Black Jack</h4>
	<a href="http://johnclarkthiel.github.io/project-1/">Link</a>
	<h4>About:</h4>
	<p></p>
	<img src=""><img src=""><img src="">

	<h4>Subnormally Mediocre Blogging</h4>
	<a href="http://subnormally-mediocre-blogging.herokuapp.com">Link</a>
	<h4>About:</h4>
	<p></p>
	<img src=""><img src=""><img src="">

	<h1>Team work:</h1>

	<h4>Wine not?</h4>
	<a href="http://wine-not.herokuapp.com">Link</a>
	<h4>About:</h4>
	<p></p>
	<img src=""><img src=""><img src="">
</div>