<div class='animated bounceInRight'>
	<div class='container'>
		<h4 class='center-align red-text darken-4'>Here's some of my work:</h4>
		<div class='card'>
			<div class='card-image' id='ennui'>
				<img class='activator' src="images/ennui4.jpg">
			</div>
			<div class='card-content'>
				<span class='card-title activator red-text darken-4'>Ennui</span>
				<p><a href="http://ennui-onwee.herokuapp.com">Project link</a></p>
				<p><a href="https://github.com/johnclarkthiel/final_project">Github link</a></p>
			</div>
			<div class='card-reveal'>
				<span class='card-title red-text darken-4'>About:<i class='material-icons right'>close</i></span>
				<p>MEAN stack app designed to record, reduce, catalogue, quantify and analyze one's boredom. Styled with Materialize CSS framework. User authentication and persistent sessions using Passport.js and Express-Sessions.js. Utilization of and access to NY Times Movie Review, Book Review, Article and Congressional Bill data APIs. Test user email: henry@hasennui.com; pw: henry</p>
			</div>
		</div>

		<div class='card'>
			<div class='card-image' id='simplejack'>
				<img class='activator' src="images/simplejack.jpg" data-caption="SIMPLE BLACK JACK LANDING PAGE">
			</div>
			<div class='card-content'>
				<span class='card-title activator red-text darken-4'>Simple Black Jack</span>
				<p><a href="http://johnclarkthiel.github.io/project-1/">Project link</a></p>
				<p><a href="https://github.com/johnclarkthiel/project-1">Github link</a></p>
			</div>
			<div class='card-reveal'>
				<span class='card-title red-text darken-4'>About:<i class='material-icons right'>close</i></span>
				<p>Simply written, simply designed ... simply Simple Black Jack.</p>
			</div>
		</div>

		<div class='card'>
			<div class='card-image' id='smb'>
				<img class='activator' src="images/smb.jpg">
			</div>
			<div class='card-content'>
				<span class='card-title activator red-text darken-4'>Subnormally Mediocre Blogging Platform</span>
				<p><a href="https://subnormally-mediocre-blogging.herokuapp.com/">Project link</a></p>
				<p><a href="https://github.com/johnclarkthiel/project-2">Github link</a></p>
			</div>
			<div class='card-reveal'>
				<span class='card-title red-text darken-4'>About:<i class='material-icons right'>close</i></span>
				<p>Basic blogging platform/Express application outfitted with three models, signup and login/user authentication using Passport, complete RESTful routes for user functionality and partial RESTful routes for non-users and logged-in users viewing other users' blogs (GET/POST/DELETE), persistent data using MonoDB, ORM/Mongoose API utilization to interact with Mongo, EJS templating for user/public views, responsive design/CSS, DOM manipulation using jQuery, and online deployment via Heroku. Test email: bateman@pierceandpierce.com; pw: hotpants</p>
			</div>
		</div>

		<div class='card'>
			<div class='card-image' id='smb'>
				<img class='activator' src="images/sthughs.jpg">
			</div>
			<div class='card-content'>
				<span class='card-title activator red-text darken-4'>St. Hughs, LLC/span>
				<p><a href="http://st-hughs.herokuapp.com/">Project link</a></p>
				<p><a href="https://github.com/johnclarkthiel/st_hughs">Github link</a></p>
			</div>
			<div class='card-reveal'>
				<span class='card-title red-text darken-4'>About:<i class='material-icons right'>close</i></span>
				<p>Static website created for a small investment company using AngularJS and Materialize CSS. Deployed via Heroku. Responsive design. Simple, austere and functional.</p>
			</div>
		</div>

		<h4 class='center-align red-text darken-4'>Team work:</h4>
		<div class='card'>
			<div class='card-image' id='wine-not'>
				<img class='activator' src="images/wine-not.jpg">
			</div>
			<div class='card-content'>
				<span class='card-title activator red-text darken-4'>Wine not?</span>
				<p><a href="https://wine-not.herokuapp.com/">Project link</a></p>
				<p><a href="https://github.com/johnclarkthiel/Project3_1.1">Github link</a></p>
			</div>
			<div class='card-reveal'>
				<span class='card-title red-text darken-4'>About:<i class='material-icons right'>close</i></span>
				<p>Wine Not? is a single page MEAN stack web app with persistent data, full responsiveness for multiple devices, and elegent design that allows users to keep track of their wine inventories in multiple custom locations. Access comprehensive wine database using the wine.com API. Test username: John; pw: john</p>
			</div>
		</div>
	</div>
</div>